# ──────────────────────────────────────────────
# API Gateway Environment Variables
# ──────────────────────────────────────────────
PORT=XXXX
JWT_SECRET=your_jwt_secret

# Rate Limiting
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX_REQUESTS=100

# ──────────────────────────────────────────────
# Microservice Registry
# ──────────────────────────────────────────────
# Apuntamos a localhost porque estamos corriendo con npm en local
SERVICES_PARAMETRIZACION_URL=http://microservice:XXXX
SERVICES_PARAMETRIZACION_AUTH=false
SERVICES_DOCS_URL=http://microservice:XXXX
SERVICES_DOCS_AUTH=false
